###############################################################################
# Set default behavior to treat everything as binary.
###############################################################################

* -text